@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    
}
.new-nav-items {
    border-radius: 25px;
    background-color: rgba(224, 224, 224, 0.5);
    

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #10100F;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.new-nav-items ul {   
    
    cursor: pointer;
    
    
}
.search-input {
    background-color: rgba(224, 224, 224, 0.0);
    font-style: italic;
    font-weight: lighter;
    color: #10100F;
}
input::placeholder {
    color: #10100F;
  }

*:focus {
    outline: none;
}

.active{
    border-bottom: 1.5px solid black;
    padding-bottom: 5px;
}


@media screen and (max-width: 900px) {
    .search-button {
        visibility: hidden;
        background-color: aqua;
    }

    .cart-button  a {
        display: none;
     

    }

    .cart-button {
        padding-left: 0.5rem;
        padding-right: 0rem;
        border-radius: 50px;
    }

    .profile-button {

    }

    
  }

  .nav-content:hover {
    
  }